<ion-card-header>
  Tutorials :
</ion-card-header>
<ion-list>

  <button ion-item *ngFor="let tuto of tutos" (click)="selectItem(tuto)">
    <ion-avatar item-end>
      <img src="{{tuto?.img}}">
    </ion-avatar>
    {{tuto?.title}}
  </button>

</ion-list>
