list-tutos {
  $tutos-font-weight : 400;
  .card-header-md {
    font-size: 2rem;
    padding-left: 0px;
  }
  .card-header-ios {
    font-size: 2rem;
    font-weight: $tutos-font-weight;
    padding-left: 0px;
  }
  .card-header-wp {
    font-size: 2rem;
    font-weight: $tutos-font-weight;
    padding-left: 0px;
  }
}
