<!--
  Generated template for the TroubleshootingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

</ion-header>


<ion-content no-margin no-padding>
  <ion-card *ngFor="let q of tutorial?.troubleshooting?.qrs">
      <ion-item class="troubl-item">
        <ion-icon  ios="ios-help-circle-outline" md="ios-help-circle-outline"
                   item-right class="troubl-icon troubl-probleme">

        </ion-icon>
        <h2 class="troubl-probleme">Probleme</h2>
      </ion-item>
    <ion-card-content>
      {{q?.question}}
    </ion-card-content>
      <ion-item class="troubl-item">
        <ion-icon item-right ios="md-checkmark" md="md-checkmark" class="troubl-icon troubl-solution"></ion-icon>
        <h2 class="troubl-solution">Solution</h2>
      </ion-item>
    <ion-card-content>
      {{q?.response}}
    </ion-card-content>
  </ion-card>
</ion-content>
