page-troubleshooting {
  .troubl-item {
    height: 40px;
  }
  .troubl-item  .troubl-icon {
    font-size: 2rem;
    line-height: 1.3;
  }
  .troubl-probleme {
    color : color($colors,danger,base);
  }
  .troubl-solution {
    color : color($colors,primary,base);
  }

}
