page-home {
.home-slides ion-slide {
  margin-left: auto;
  margin-right: auto;
}
.home-slides img {
  max-height: 300px;
  min-height: 300px;
  max-width: 500px;
  width: 100%;
}
.home-card {
  width: 100%;
  margin-bottom: 20px;
  -webkit-box-shadow: unset;
}
.home-card ion-card-title {
  text-align: center;
  font-weight: 500;
  border-bottom:1px solid rgba(168, 101, 41, 0.28);
  border-top: 1px solid rgba(168, 101, 41, 0.28);
  padding-top: 3px;
  padding-bottom: 4px;
  margin-top: 2px;
  margin-bottom: 1px;
}
.home-card p {
  padding-left: 13px;
  padding-right: 13px;
  font-size: 1.6rem;
  padding-top: 10px;
  color:rgba(0,0,0,0.81);
}
  .dogs-cr {
    color: color($colors,primary,base);
  }

  .qr-list{
    margin-top: 10px;
  }
  .qr-header{
    margin-top: 2px !important;
    margin-bottom: 1px;
    min-height: 2.5rem;
    height: 2.5rem;
    border-bottom : 1px solid #dedede;
    border-top: none;
    font-size: 1.9rem;
    color : color($colors,secondary,base);
    font-weight: 300;
    letter-spacing: normal;
    text-transform: none;
  }
  .qr-header ion-label{
    margin-top: 0px;
    margin-bottom: 3px;
  }

  .qr-item {
    height: auto !important;
    min-height: 2.5rem;
  }
  .qr-item p {
    display: inline;
    font-size:  1.4rem !important;
    padding-left: 2px !important;
  }

  .qr-item ion-label {
    margin-top: 1px;
    margin-bottom: 1px;
     text-overflow: clip;
     white-space: normal;
  }
  .qr-item ion-icon {
    font-size: 1.4rem;
  }
  .qr-list > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block {
    border-bottom: none;
  }
}
