<ion-header xmlns="http://www.w3.org/1999/html">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-margin no-padding>


  <ion-card no-margin no-padding class="home-card">
    <ion-card-title color="primary">
      Teach Your Dog
    </ion-card-title>
    <!-- Slides -->
    <ion-slides class="home-slides" no-margin no-padding autoplay="1500" loop="true" speed="1500ss" >
      <ion-slide>
        <div class="div-img-center">
          <img src="{{imgFolder}}home.jpg">
        </div>
      </ion-slide>
      <ion-slide>
        <div class="div-img-center">
          <img src="{{imgFolder}}home2.jpg">
        </div>
      </ion-slide>
      <ion-slide>
        <div class="div-img-center">
          <img src="{{imgFolder}}home3.jpg">
        </div>
      </ion-slide>
      <ion-slide>
        <div class="div-img-center">
          <img src="{{imgFolder}}home4.jpg">
        </div>
      </ion-slide>
    </ion-slides>
    <!-- end slides -->
    <ion-card-content no-margin no-padding>
      <p>
        He	is	your	<span class="dogs-cr">friend</span>,	your	<span class="dogs-cr">partner</span>,
        your	<span class="dogs-cr">defender</span>,	your	dog.
        You	are	his	life, his	love,	his	leader.
        He	will	be	yours,	faithful	and	true,	to	the	last	beat	of	his heart.	You	owe	it	to	him	to	be
        worthy	of	such	devotion.
      </p>
      <ion-list class="qr-list">
        <ion-list-header class="qr-header">
          Why should I train my dog ?
        </ion-list-header>
        <ion-item class="qr-item">
          <ion-icon name="paw" color="primary"></ion-icon>
          <p>To Build a Positive Relationship</p>
        </ion-item>
        <ion-item class="qr-item">
          <ion-icon name="paw" color="primary"></ion-icon>
          <p>To Teach Life Skills</p>
        </ion-item>
        <ion-item class="qr-item">
          <ion-icon name="paw" color="primary"></ion-icon>
          <p>To Increase Sociability</p>
        </ion-item>
        <ion-item class="qr-item">
          <ion-icon name="paw" color="primary"></ion-icon>
          <p>To Avoid Problem Behaviors</p>
        </ion-item>
        <ion-item class="qr-item">
          <ion-icon name="paw" color="primary"></ion-icon>
          <p>For Loyalty and Companionship</p>
        </ion-item>
      </ion-list>

      <ion-list class="qr-list">
        <ion-list-header class="qr-header">
          Why this application ?
        </ion-list-header>
        <ion-item class="qr-item">
          <ion-icon name="paw" color="primary"></ion-icon>
          <p>Presentation of the tools that will be used to train your dog.</p>
        </ion-item>
        <ion-item class="qr-item">
          <ion-icon name="paw" color="primary"></ion-icon>
          <p>5 chapters and more than 23 tutorials.</p>
        </ion-item>
        <ion-item class="qr-item">
          <ion-icon name="paw" color="primary"></ion-icon>
          <p>In each tutorial there are 3 sections : TeachIt - Details - Troublshooting.</p>
        </ion-item>
        <ion-item class="qr-item">
          <ion-icon name="paw" color="primary"></ion-icon>
          <p>TeachIT : tutorial is explained step by step with pictures and descriptions.</p>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>
