<ion-menu [content]="content" [persistent]="true" (ionOpen)="onOpenMenu()" (ionClose)="onCloseMenu()" >
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content no-padding no-margin class="dog-menu-content">
    <ion-card text-center class="menu-card" (click)="goToHomePage()" menuClose>
      <img  src="{{imgFolder}}menu.jpg"/>
      <h2>Teach Your Dog</h2>
      <p>He	is	your friend, your partner and your dog</p>
      <hr>
    </ion-card>

    <ion-list class="menu-list">
      <ion-item class="menu-item" menuClose ion-item (click)="goToPage('GettingStartedPage')">
        <ion-icon name="paw" item-right></ion-icon>
        Getting Started
      </ion-item>


      <ion-item class="menu-item" menuClose ion-item *ngFor="let c of chapters" (click)="openChapterPage(c)">
        <ion-icon name="paw" item-right></ion-icon>
        {{c.title}}
        <p>
          <span *ngFor="let tuto of c.tutorials;let last = last">
            {{tuto.title}} <span *ngIf="!last">-</span>
          </span>
        </p>
      </ion-item>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
