// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.scroll-content{overflow-y: auto;}

.card-ios {
  margin: 5px;
  width: calc(100% - 6px);
}

ion-app.ios [padding] .scroll-content {
  padding: 5px;
}

ion-app.md [padding] .scroll-content {
  padding: 5px;
}

ion-app.wp [padding] .scroll-content {
  padding: 5px;
}

.card-md {
  margin: 5px;
  width: calc(100% - 5px);
}

.card-wp {
  margin: 5px;
  border-radius: 1px;
  width: calc(100% - 5px);
}

.div-img-center{
  margin: 0px;
  width: 100%;
}
.div-img-center img {
  max-width: 425px;
  margin-left: auto;
  margin-right: auto;
}
.menu-card, .dog-menu-content {
  -webkit-box-shadow: none!important;
  border-radius: 0px;
  margin: 0px !important;
  padding:  0px !important;
  width: 100%;
  background-image: url("../assets/imgs/menu/background.png");
  //background-image: url("https://image.ibb.co/dsFx0G/background.png");
  //background-size: cover;
}

.menu-card h2 {
  color: color($colors, primary, base);
}

.menu-card hr {
  background-color: color($colors,primary,base);
}

.menu-list{
  //background-image: url("https://image.ibb.co/gKKX0G/back.png");
  //height: 100%;
}
.menu-list ion-icon {
  color: color($colors,primary,base);
  min-height: 1.2rem;
  font-size: 1.5rem;
}
.menu-list p {
  font-size: 1.2rem;
}
.custom-avatar {
  height: 30vw;
  width: 30vw;
  border: 1px solid #fff;
  border-radius: 50%;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

.menu-item{
  background: none !important;
  cursor: pointer;
}
.menu-list .item-inner {
  height: 55px;
}

.menu-list .item-block:first-child{
  border-top: none;
}

.menu-list .item-block:last-child{
  border-bottom: 0.55px solid;
  border-color: color($colors,primary,base);
}

.dog-menu-content .list-wp .item-block .item-inner {
  border-bottom: 1px solid rgb(222, 222, 222);
}

.dog-menu-content .list-wp .item-block:last-child .item-inner {
  border-bottom: 1px solid transparent;
}

// alert
.tyd-alert .alert-head {
  padding-right: 5px;
  padding-left: 18px;
  padding-bottom: 3px;
  padding-top: 15px;
}

.tyd-alert  .alert-title {
  font-size: 20px;
}
