<ion-header>
  <dog-app-header [title]="title"></dog-app-header>
</ion-header>
<ion-content no-margin na-padding>
  <ion-tabs>

    <ion-tab [root]="teachItPage" tabTitle="Teach It"
             tabIcon="color-wand" [rootParams]="tutorialParam">
    </ion-tab>

    <ion-tab [root]="detailsPage" tabTitle="Details" tabIcon="book" [rootParams]="tutorialParam">
    </ion-tab>

    <ion-tab [root]="troubleshooting" tabTitle="Troubleshooting" tabIcon="help-circle" [rootParams]="tutorialParam">
    </ion-tab>

  </ion-tabs>
</ion-content>
