page-getting-started {
 .getting-started-card {
   margin: 3px;
   width: 100%;
 }
  .getting-started-card ion-card-content{
  padding: 10px 6px 10px;
  padding-top: 0px;
 }
  .getting-started-card h1 {
    color: color($colors,primary,base);
    text-align: center;
    font-size: 2rem;
    border-bottom:1px solid rgba(168, 101, 41, 0.28);
    border-top: 1px solid rgba(168, 101, 41, 0.28);
    padding-top: 4px;
    padding-bottom: 4px;
  }
  .getting-started-card ion-card-title {
    color: color($colors,secondary,base);
    font-size: 1.6rem;
  }

  .getting-started-card p {
    color : #292828;
  }
}
