<!--
  Generated template for the GettingStartedPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <dog-app-header [title]="'Getting Started'"></dog-app-header>
</ion-header>


<ion-content no-margin no-padding>
  <ion-card class="getting-started-card">
    <ion-card-content>
      <H1>
        HOW DOGS LEARN
      </H1>
      <img src="{{imgFolder}}1.jpg"/>
      <p>
        Dogs learn through consequences, just like humans do. Consequences can be positive, which willincrease the
        likelihood of the behavior happening again, or they can be negative, which will decreasethe likelihood of
        the behavior happening again. Our training handouts teach dogs by using positivereinforcement, such as
        treats and praise, to increase desired behaviors, like sitting and staying.
      </p>
      <h1>Equipment for you and your dog</h1>

      <ion-card-title>
        BAIT BAG
      </ion-card-title>
      <img src="{{imgFolder}}2.jpg"/>
      <p>
        This is used to carry all of the “good stuff” like treats,toys or whatever else might motivate the dog to
        wantto learn. There are bags made specifically to hold trainingtreats, or you can improvise a treat bag.
        The style of bagcan be as individual as the handler.  A pocket can also beused if the lingering smell of
        treats is not a problem!T
      </p>

      <ion-card-title>
        TREATS
      </ion-card-title>
      <img src="{{imgFolder}}3.jpg"/>
      <p>
        Treats can range from kibble to real meat, depending onthe level of distraction the dog and handler
        are experi-encing during a training session. Using kibble for trainingat home is usually good enough but out
        in the “realworld,” with real life distractions, the reinforcement willneed to be bumped up with treats that
        the dog thinksare worth his attention.
      </p>

      <ion-card-title>
        LEASHES :
      </ion-card-title>
      <img src="{{imgFolder}}4.jpg"/>
      <p>
        There are many leash options. Use a leash that is soft onthe hands and about six feet
        in length for non-reactivedogs.
      </p>

      <ion-card-title>
        SENSATION HARNESS
      </ion-card-title>
      <img src="{{imgFolder}}5.jpg"/>
      <p>
        The sensation harness is designed to clip in the front of the dog, at the chest. It is meant to be
        comfortable for the dog to wear, as it takespressure off the dog’s neck. It also makes it easier for
        the dog to use appropriate body language when he meets other dogs and people.  Thesensation harness also
        gives the handler more control of the dog’s bodyas the dog is steered from the shoulders.
      </p>

    </ion-card-content>
  </ion-card>
</ion-content>
