<ion-header>
</ion-header>
<ion-content no-margin no-padding>
  <ion-card *ngFor="let step of tutorial?.teachIt?.steps">
    <ion-card-header>
      <ion-badge item-end>Step {{ step?.number}}</ion-badge>
    </ion-card-header>
    <ion-card-content>
      {{step?.description}}
    </ion-card-content>
    <div class="div-img-center">
      <img src="{{step?.img}}">
    </div>
  </ion-card>

</ion-content>
