<ion-header>
</ion-header>
<ion-content no-margin no-padding>
  <ion-card>
    <ion-card-content>
      <img src="{{tutorial?.img}}"/>
      <b>{{tutorial?.tutorialDetails?.description}}</b>
    </ion-card-content>
  </ion-card>
  <!-- steps -->
  <ion-card *ngFor="let step of tutorial?.tutorialDetails?.steps">
      <ion-item>
        <ion-icon name="arrow-down" item-end></ion-icon>
        <ion-badge item-start>Step {{ step?.number}}</ion-badge>
      </ion-item>
    <ion-card-content>
      {{step?.description}}
    </ion-card-content>
  </ion-card>

</ion-content>
