chapter-introduction {
  .card-md{
    margin: 3px;
  }
  .chapter-img{
    margin: 0;
    width: 100%;
  }
  .chapter-img img {
    max-width: 425px;
    margin-left: auto;
    margin-right: auto;
  }
}
